@page "/"

<h1>Info TV</h1>

<p>
	<h4>Terminé</h4>

	<div><span class="oi oi-task" aria-hidden="true"></span> Injection de fichier Excel possible dans le menu "Fichiers"</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Gestion du service de donnée dans l'application</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Page Superviseur quasiment fini, voir si manque pas des indicateurs</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Menu rétractable</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Page de la documentation</div>
	<div><span class="oi oi-task" aria-hidden="true"></span>Affichage PowerPoint</div>
	<div><span class="oi oi-task" aria-hidden="true"></span> Système de message</div>
</p>

<p>
	<h4>En cours de développement</h4>

	<div><span class="oi oi-target" aria-hidden="true"></span> Page pour les plateaux</div>
</p>

<p>
    <h4>Reste à développer</h4>
    <div><span class="oi oi-minus" aria-hidden="true"></span> Page d'accueil, anniversaire, visite,...</div>
    <div><span class="oi oi-minus" aria-hidden="true"></span> Faire un système de Login, avec un système de droit</div>    
</p>
