@page "/"

<h1>Info TV</h1>

<p>
	<div>Login : http://VotreAdresseServeur/Identity/Account/Login </div>
	<div>Page info : http://VotreAdresseServeur/info </div>
	<div>Page Settings : http://VotreAdresseServeur/settings (faut être authentifié)</div>
	<div></div>
</p>
