
@using InfoTv.Composants

<h1>Information pour plateau</h1>

<div>
	<MessageInfo />
	@*<marquee bgcolor="@ColorDisplay" behavior="alternate">@MessageToDisplay</marquee>*@
</div>

<div class="border-black-without-margin">
	<video class="col-lg" 
		   width="1280" 
		   height="720" 
		   autoplay loop>
		<source src="@SourceGif" type="video/mp4" />
	</video>
</div>

@code {
}